.clear {
	clear:both;
	display:block;	
}
#general-container {
	width:930px;
	margin:0 auto;	
}

#worldskills_bg {
	background:url(../assets/images/ws_logo_bg.png) no-repeat;
	width:906px;
	height:678px;
	position:fixed;
	z-index:-100;
	bottom:0;
	right:10px;	
}



#header {
	margin-top:10px;	
}

#logo {
	width:102px;
	height:86px;
	float:left;
}



#title {
	float:left;
	margin-top:30px;
	margin-left:20px;
	float:left;
}



#info {
	background:url(../assets/images/icon_info.png) no-repeat left center;
	padding-left:50px;
	width:295px;
	float:right;	
	margin-top:40px;
	margin-right:30px;
	
	line-height:1.5;
}


#title h1 {
	font-size:42px;
	font-weight:bold;
	letter-spacing:-2px;	
}

label {
	font-weight:bold;
		
}

#task-registration {
	margin-top:20px;	
}

#task-registration-form {
	width:570px;
	margin:0 auto;
}

#task-registration-buttons {
	float:right;	
	margin-top:35px;
	margin-right:25px;
}

#task-registration-buttons .button {
	margin-left:5px;	
}
.task-registration-field {
	background:url(../assets/images/field_bg.png) no-repeat;
	width:249px;
	height:	38px;
	border:none;
	padding-left:14px;
	color:#ccc;
	outline:none;
}

#task-registration-form .field-area {
	float:left;	
}


#task-description-field-area {
	margin-left:33px;	
}
.task-registration-field:focus {
	color:#000;	
	background:url(../assets/images/field_bg.png) 0 -38px no-repeat;
}


.button {
	border:none;
	background:url(../assets/images/button_bg.png) no-repeat;
	width:86px;
	font-weight:bold;
	cursor:pointer;
	height:36px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;	
}


.button:hover {
	background:url(../assets/images/button_bg.png) 0 -36px no-repeat;

}
#panel {
	margin-top:30px;	
}

.clear {
	clear:both;	
}

.column {
	border:1px dashed #ccc;
	width:220px;
	float:left;
	text-align:center;
	padding:30px;
	min-height:870px;
	
}

#in-progress {
	margin-left:42px;
	margin-right:42px;	
}


.column h2 {
	color:#333;
	letter-spacing:-3px;
	font-size:32px;	
}

.column .number {
	color:#666;	
}
#panel ul li {
	list-style:none;	
}




#footer {
	margin-top:40px;
	padding-bottom:20px;
}

.droppable {
	width:100%;
	min-height:870px;
}
.task {
	background:url(../assets/images/task_bg.png) no-repeat;
	width:181px;
	height:208px;	
	margin-top:29px;
	margin-bottom:29px;
	margin-left:10px;
	text-align:left;
	padding:15px 22px 0 20px;
	font-size:12px;
	position:relative;
	cursor:pointer;
}

.dragging {
	cursor:move;	
}


.task-actions,.edit-actions {
	position:absolute;
	bottom:20px;
	right:22px;	
}


.edit-actions {
	display:none;	
}

.label {
	font-weight:bold;
	clear:both;
	display:block;
	margin-top:6px;
}

.task .field {
	 border:1px solid #979700;
	 font-size:11px;
	 	
}

.task .field.date {
	width:70px;
	float:left;	
}


.task-actions a,.edit-actions a {
	text-decoration:underline;	
	cursor:pointer;
}

a img {
	border:none;	
}
.task .field.time {
	width:55px;
	float:left;
	margin-left:10px;	
}

.task h3 {
	font-size:19px;
	letter-spacing:-1px;
	margin-bottom:7px;	
}

.AreaId {
	display:none;	
}

#task-template {
	display:none;	
}

.applicable {
	background:#C4FFC4;	
}

.not-applicable {
	background:#FFCACA;	
}

.validation-message {
	display:none;
	font-size:11px;
	color:#f00;
		
}

#TaskDescription {
		
}
.task-registration-field.error {
	background:url(../assets/images/field_error.png) no-repeat;	
}

.task .field.error {
	border:1px solid #f00;	
}

#copyright {
	font-weight:bold;	
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }